<nav>
  <a href="/work/"{% if "/work/" in page.url %} class="active"{% endif %}>work</a>
  <a href="/lab/"{% if "/lab/" in page.url %} class="active"{% endif %}>lab</a>
  <a href="/contact/"{% if "/contact/" in page.url %} class="active"{% endif %}>contact</a>
</nav>
